In [143]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from deepctr.models import WDL
from deepctr.feature_column import SparseFeat,get_feature_names
import random
import numpy as np
import math

In [9]:
data = pd.read_csv('./u.data',header=None,sep='\t')

In [11]:
data.columns=['user_id','item_id','rating','timestamp']

In [17]:
data = data.sort_values(['user_id','item_id','rating'])

In [15]:
user = pd.read_csv('./u.user',header=None,sep='|')

In [18]:
user.columns=['user_id','age','gender','occupation','zip']

In [27]:
user

     user_id  age gender     occupation    zip
0          1   24      M     technician  85711
1          2   53      F          other  94043
2          3   23      M         writer  32067
3          4   24      M     technician  43537
4          5   33      F          other  15213
..       ...  ...    ...            ...    ...
938      939   26      F        student  33319
939      940   32      M  administrator  02215
940      941   20      M        student  97229
941      942   48      F      librarian  78209
942      943   22      M        student  77841

[943 rows x 5 columns]

In [28]:
data

       user_id  item_id  rating  timestamp
32236        1        1       5  874965758
23171        1        2       3  876893171
83307        1        3       4  878542960
62631        1        4       3  876893119
47638        1        5       3  889751712
...        ...      ...     ...        ...
68857      943     1067       2  875501756
74200      943     1074       4  888640250
78704      943     1188       3  888640250
86600      943     1228       3  888640275
92115      943     1330       3  888692465

[100000 rows x 4 columns]

In [31]:
data.join(user,on='user_id')

ValueError: columns overlap but no suffix specified: Index(['user_id'], dtype='object')

In [32]:
data.join(user,on='user_id',lsuffix='_caller', rsuffix='_other')

,user_id_caller,item_id,rating,timestamp,user_id_other,age,gender,occupation,zip
32236,1,1,5,874965758,2.0,53.0,F,other,94043
23171,1,2,3,876893171,2.0,53.0,F,other,94043
83307,1,3,4,878542960,2.0,53.0,F,other,94043
62631,1,4,3,876893119,2.0,53.0,F,other,94043
47638,1,5,3,889751712,2.0,53.0,F,other,94043
...,...,...,...,...,...,...,...,...,...
68857,943,1067,2,875501756,NaN,NaN,NaN,NaN,NaN
74200,943,1074,4,888640250,NaN,NaN,NaN,NaN,NaN
78704,943,1188,3,888640250,NaN,NaN,NaN,NaN,NaN
86600,943,1228,3,888640275,NaN,NaN,NaN,NaN,NaN
92115,943,1330,3,888692465,NaN,NaN,NaN,NaN,NaN

In [47]:
user_c = user.set_index('user_id')
data_c = data.set_index('user_id')
pd.concat([data_c,user_c],axis=1)

         item_id  rating  timestamp  age gender  occupation    zip
user_id
1              1       5  874965758   24      M  technician  85711
1              2       3  876893171   24      M  technician  85711
1              3       4  878542960   24      M  technician  85711
1              4       3  876893119   24      M  technician  85711
1              5       3  889751712   24      M  technician  85711
...          ...     ...        ...  ...    ...         ...    ...
943         1067       2  875501756   22      M     student  77841
943         1074       4  888640250   22      M     student  77841
943         1188       3  888640250   22      M     student  77841
943         1228       3  888640275   22      M     student  77841
943         1330       3  888692465   22      M     student  77841

[100000 rows x 7 columns]

In [56]:
data_all = data.merge(user)
print(data_all['user_id'].nunique())
data_all.head()

942

   user_id  item_id  rating  timestamp  age gender  occupation    zip
0        1        0       4  888550871   24      M  technician  85711
1        1        9       2  888551853   24      M  technician  85711
2        1       12       4  888551922   24      M  technician  85711
3        1       13       4  888551853   24      M  technician  85711
4        1       18       3  888550871   24      M  technician  85711

In [57]:
feature_name = ['user_id','item_id','age','gender','occupation','zip']
for feat in feature_name :
    lab = LabelEncoder()
    data_all[feat] = lab.fit_transform(data_all[feat])

In [59]:
fixlen_feature_columns = [SparseFeat(feat, vocabulary_size=data_all[feat].nunique(),embedding_dim=4) for feat in feature_name]

In [64]:
train,test = train_test_split(data_all,test_size=0.2)
train_model_input = {name:train[name].values for name in feature_name}
test_model_input = {name:test[name].values for name in feature_name}
model = WDL(fixlen_feature_columns,fixlen_feature_columns,task='regression')
model.compile('adam','mse',metrics=['mse'])
history = model.fit(train_model_input,train['rating'].values,epochs=10,validation_split=0.2,verbose=2)

Epoch 1/10
1995/1995 - 3s - loss: 1.1616 - mse: 1.1614 - val_loss: 0.9070 - val_mse: 0.9067
Epoch 2/10
1995/1995 - 2s - loss: 0.9012 - mse: 0.9008 - val_loss: 0.8940 - val_mse: 0.8936
Epoch 3/10
1995/1995 - 2s - loss: 0.8738 - mse: 0.8732 - val_loss: 0.8868 - val_mse: 0.8860
Epoch 4/10
1995/1995 - 2s - loss: 0.8535 - mse: 0.8526 - val_loss: 0.8912 - val_mse: 0.8901
Epoch 5/10
1995/1995 - 2s - loss: 0.8379 - mse: 0.8367 - val_loss: 0.8678 - val_mse: 0.8665
Epoch 6/10
1995/1995 - 2s - loss: 0.8236 - mse: 0.8221 - val_loss: 0.8897 - val_mse: 0.8881
Epoch 7/10
1995/1995 - 2s - loss: 0.8081 - mse: 0.8062 - val_loss: 0.8889 - val_mse: 0.8869
Epoch 8/10
1995/1995 - 2s - loss: 0.7933 - mse: 0.7912 - val_loss: 0.8651 - val_mse: 0.8628
Epoch 9/10
1995/1995 - 2s - loss: 0.7765 - mse: 0.7740 - val_loss: 0.8647 - val_mse: 0.8621
Epoch 10/10
1995/1995 - 2s - loss: 0.7612 - mse: 0.7584 - val_loss: 0.8657 - val_mse: 0.8627

In [149]:
train,test = train_test_split(data_all,test_size=0.2)

In [153]:
for i in range(1,16):
    print(i)
    train_model_input = {name:train[name].values for name in feature_name}
    test_model_input = {name:test[name].values for name in feature_name}
    model = WDL(fixlen_feature_columns,fixlen_feature_columns,task='regression')
    model.compile('adam','mse',metrics=['mse'])
    history = model.fit(train_model_input,train['rating'].values,epochs=i,validation_split=0.2,verbose=2)
    pred_ans = model.predict(test_model_input)
    rating_devition = 0 
    for pred,real in zip(pred_ans,test['rating'].values):
        rating_devition += abs(pred - real)
    print(rating_devition)
    print('-----------------')

1
1995/1995 - 3s - loss: 1.1508 - mse: 1.1506 - val_loss: 0.9488 - val_mse: 0.9486
[15204.914]
-----------------
2
Epoch 1/2
1995/1995 - 3s - loss: 1.1380 - mse: 1.1379 - val_loss: 0.9138 - val_mse: 0.9136
Epoch 2/2
1995/1995 - 2s - loss: 0.8921 - mse: 0.8917 - val_loss: 0.8976 - val_mse: 0.8971
[15006.773]
-----------------
3
Epoch 1/3
1995/1995 - 3s - loss: 1.1404 - mse: 1.1403 - val_loss: 0.9470 - val_mse: 0.9468
Epoch 2/3
1995/1995 - 2s - loss: 0.8965 - mse: 0.8961 - val_loss: 0.9054 - val_mse: 0.9050
Epoch 3/3
1995/1995 - 2s - loss: 0.8664 - mse: 0.8658 - val_loss: 0.8914 - val_mse: 0.8907
[14964.966]
-----------------
4
Epoch 1/4
1995/1995 - 3s - loss: 1.1438 - mse: 1.1436 - val_loss: 0.9282 - val_mse: 0.9279
Epoch 2/4
1995/1995 - 2s - loss: 0.8946 - mse: 0.8942 - val_loss: 0.8921 - val_mse: 0.8916
Epoch 3/4
1995/1995 - 2s - loss: 0.8635 - mse: 0.8629 - val_loss: 0.8894 - val_mse: 0.8887
Epoch 4/4
1995/1995 - 2s - loss: 0.8470 - mse: 0.8461 - val_loss: 0.8843 - val_mse: 0.8833
[14797.712]
-----------------
5
Epoch 1/5
1995/1995 - 3s - loss: 1.1289 - mse: 1.1287 - val_loss: 0.9215 - val_mse: 0.9213
Epoch 2/5
1995/1995 - 2s - loss: 0.8963 - mse: 0.8960 - val_loss: 0.9119 - val_mse: 0.9115
Epoch 3/5
1995/1995 - 2s - loss: 0.8663 - mse: 0.8657 - val_loss: 0.9320 - val_mse: 0.9313
Epoch 4/5
1995/1995 - 2s - loss: 0.8491 - mse: 0.8482 - val_loss: 0.8900 - val_mse: 0.8890
Epoch 5/5
1995/1995 - 2s - loss: 0.8339 - mse: 0.8327 - val_loss: 0.8736 - val_mse: 0.8723
[14716.929]
-----------------
6
Epoch 1/6
1995/1995 - 3s - loss: 1.1533 - mse: 1.1532 - val_loss: 0.9305 - val_mse: 0.9303
Epoch 2/6
1995/1995 - 2s - loss: 0.8939 - mse: 0.8935 - val_loss: 0.8973 - val_mse: 0.8969
Epoch 3/6
1995/1995 - 2s - loss: 0.8660 - mse: 0.8654 - val_loss: 0.9176 - val_mse: 0.9169
Epoch 4/6
1995/1995 - 3s - loss: 0.8480 - mse: 0.8472 - val_loss: 0.8844 - val_mse: 0.8833
Epoch 5/6
1995/1995 - 3s - loss: 0.8314 - mse: 0.8302 - val_loss: 0.8801 - val_mse: 0.8788
Epoch 6/6
1995/1995 - 3s - loss: 0.8167 - mse: 0.8152 - val_loss: 0.8862 - val_mse: 0.8846
[15014.245]
-----------------
7
Epoch 1/7
1995/1995 - 3s - loss: 1.1456 - mse: 1.1455 - val_loss: 0.9365 - val_mse: 0.9363
Epoch 2/7
1995/1995 - 3s - loss: 0.8924 - mse: 0.8920 - val_loss: 0.9217 - val_mse: 0.9213
Epoch 3/7
1995/1995 - 3s - loss: 0.8675 - mse: 0.8669 - val_loss: 0.9521 - val_mse: 0.9514
Epoch 4/7
1995/1995 - 2s - loss: 0.8475 - mse: 0.8466 - val_loss: 0.9064 - val_mse: 0.9053
Epoch 5/7
1995/1995 - 3s - loss: 0.8328 - mse: 0.8316 - val_loss: 0.8834 - val_mse: 0.8820
Epoch 6/7
1995/1995 - 3s - loss: 0.8172 - mse: 0.8157 - val_loss: 0.8774 - val_mse: 0.8758
Epoch 7/7
1995/1995 - 3s - loss: 0.7989 - mse: 0.7971 - val_loss: 0.8756 - val_mse: 0.8737
[14575.221]
-----------------
8
Epoch 1/8
1995/1995 - 3s - loss: 1.1395 - mse: 1.1394 - val_loss: 0.9506 - val_mse: 0.9504
Epoch 2/8
1995/1995 - 2s - loss: 0.8977 - mse: 0.8974 - val_loss: 0.9006 - val_mse: 0.9001
Epoch 3/8
1995/1995 - 2s - loss: 0.8700 - mse: 0.8694 - val_loss: 0.8872 - val_mse: 0.8865
Epoch 4/8
1995/1995 - 2s - loss: 0.8515 - mse: 0.8506 - val_loss: 0.9022 - val_mse: 0.9011
Epoch 5/8
1995/1995 - 2s - loss: 0.8358 - mse: 0.8346 - val_loss: 0.8787 - val_mse: 0.8773
Epoch 6/8
1995/1995 - 2s - loss: 0.8215 - mse: 0.8200 - val_loss: 0.8837 - val_mse: 0.8821
Epoch 7/8
1995/1995 - 2s - loss: 0.8060 - mse: 0.8042 - val_loss: 0.8781 - val_mse: 0.8762
Epoch 8/8
1995/1995 - 2s - loss: 0.7890 - mse: 0.7868 - val_loss: 0.8759 - val_mse: 0.8736
[14525.281]
-----------------
9
Epoch 1/9
1995/1995 - 3s - loss: 1.1437 - mse: 1.1436 - val_loss: 0.9120 - val_mse: 0.9118
Epoch 2/9
1995/1995 - 2s - loss: 0.8966 - mse: 0.8963 - val_loss: 0.9205 - val_mse: 0.9200
Epoch 3/9
1995/1995 - 2s - loss: 0.8663 - mse: 0.8657 - val_loss: 0.9096 - val_mse: 0.9089
Epoch 4/9
1995/1995 - 2s - loss: 0.8472 - mse: 0.8463 - val_loss: 0.8847 - val_mse: 0.8837
Epoch 5/9
1995/1995 - 3s - loss: 0.8327 - mse: 0.8316 - val_loss: 0.8789 - val_mse: 0.8776
Epoch 6/9
1995/1995 - 3s - loss: 0.8174 - mse: 0.8159 - val_loss: 0.8784 - val_mse: 0.8767
Epoch 7/9
1995/1995 - 2s - loss: 0.7995 - mse: 0.7977 - val_loss: 0.8914 - val_mse: 0.8895
Epoch 8/9
1995/1995 - 2s - loss: 0.7826 - mse: 0.7805 - val_loss: 0.8748 - val_mse: 0.8726
Epoch 9/9
1995/1995 - 2s - loss: 0.7637 - mse: 0.7613 - val_loss: 0.8770 - val_mse: 0.8745
[14698.08]
-----------------
10
Epoch 1/10
1995/1995 - 3s - loss: 1.1376 - mse: 1.1375 - val_loss: 0.9206 - val_mse: 0.9204
Epoch 2/10
1995/1995 - 2s - loss: 0.8974 - mse: 0.8970 - val_loss: 0.9069 - val_mse: 0.9064
Epoch 3/10
1995/1995 - 2s - loss: 0.8684 - mse: 0.8678 - val_loss: 0.8809 - val_mse: 0.8802
Epoch 4/10
1995/1995 - 2s - loss: 0.8502 - mse: 0.8493 - val_loss: 0.8993 - val_mse: 0.8982
Epoch 5/10
1995/1995 - 2s - loss: 0.8319 - mse: 0.8307 - val_loss: 0.8837 - val_mse: 0.8823
Epoch 6/10
1995/1995 - 2s - loss: 0.8162 - mse: 0.8147 - val_loss: 0.8810 - val_mse: 0.8793
Epoch 7/10
1995/1995 - 2s - loss: 0.8006 - mse: 0.7987 - val_loss: 0.8693 - val_mse: 0.8673
Epoch 8/10
1995/1995 - 2s - loss: 0.7844 - mse: 0.7823 - val_loss: 0.8704 - val_mse: 0.8681
Epoch 9/10
1995/1995 - 2s - loss: 0.7676 - mse: 0.7652 - val_loss: 0.8834 - val_mse: 0.8808
Epoch 10/10
1995/1995 - 2s - loss: 0.7525 - mse: 0.7498 - val_loss: 0.8708 - val_mse: 0.8679
[14624.899]
-----------------
11
Epoch 1/11
1995/1995 - 3s - loss: 1.1400 - mse: 1.1399 - val_loss: 0.9169 - val_mse: 0.9167
Epoch 2/11
1995/1995 - 2s - loss: 0.8929 - mse: 0.8926 - val_loss: 0.9486 - val_mse: 0.9481
Epoch 3/11
1995/1995 - 2s - loss: 0.8675 - mse: 0.8669 - val_loss: 0.8843 - val_mse: 0.8836
Epoch 4/11
1995/1995 - 2s - loss: 0.8477 - mse: 0.8468 - val_loss: 0.8785 - val_mse: 0.8774
Epoch 5/11
1995/1995 - 2s - loss: 0.8328 - mse: 0.8316 - val_loss: 0.8857 - val_mse: 0.8844
Epoch 6/11
1995/1995 - 2s - loss: 0.8152 - mse: 0.8137 - val_loss: 0.9001 - val_mse: 0.8985
Epoch 7/11
1995/1995 - 3s - loss: 0.7981 - mse: 0.7963 - val_loss: 0.8932 - val_mse: 0.8913
Epoch 8/11
1995/1995 - 2s - loss: 0.7830 - mse: 0.7808 - val_loss: 0.8837 - val_mse: 0.8815
Epoch 9/11
1995/1995 - 2s - loss: 0.7677 - mse: 0.7653 - val_loss: 0.8969 - val_mse: 0.8944
Epoch 10/11
1995/1995 - 2s - loss: 0.7541 - mse: 0.7513 - val_loss: 0.8866 - val_mse: 0.8837
Epoch 11/11
1995/1995 - 2s - loss: 0.7393 - mse: 0.7363 - val_loss: 0.8939 - val_mse: 0.8907
[14795.934]
-----------------
12
Epoch 1/12
1995/1995 - 3s - loss: 1.1481 - mse: 1.1479 - val_loss: 0.9314 - val_mse: 0.9311
Epoch 2/12
1995/1995 - 2s - loss: 0.8956 - mse: 0.8953 - val_loss: 0.9037 - val_mse: 0.9033
Epoch 3/12
1995/1995 - 3s - loss: 0.8693 - mse: 0.8687 - val_loss: 0.9009 - val_mse: 0.9001
Epoch 4/12
1995/1995 - 2s - loss: 0.8518 - mse: 0.8509 - val_loss: 0.8814 - val_mse: 0.8804
Epoch 5/12
1995/1995 - 2s - loss: 0.8381 - mse: 0.8369 - val_loss: 0.8828 - val_mse: 0.8814
Epoch 6/12
1995/1995 - 2s - loss: 0.8248 - mse: 0.8233 - val_loss: 0.8798 - val_mse: 0.8781
Epoch 7/12
1995/1995 - 2s - loss: 0.8077 - mse: 0.8059 - val_loss: 0.8852 - val_mse: 0.8832
Epoch 8/12
1995/1995 - 2s - loss: 0.7903 - mse: 0.7882 - val_loss: 0.8731 - val_mse: 0.8708
Epoch 9/12
1995/1995 - 2s - loss: 0.7722 - mse: 0.7698 - val_loss: 0.8738 - val_mse: 0.8712
Epoch 10/12
1995/1995 - 2s - loss: 0.7544 - mse: 0.7517 - val_loss: 0.8829 - val_mse: 0.8801
Epoch 11/12
1995/1995 - 2s - loss: 0.7402 - mse: 0.7372 - val_loss: 0.8837 - val_mse: 0.8806
Epoch 12/12
1995/1995 - 2s - loss: 0.7271 - mse: 0.7238 - val_loss: 0.8794 - val_mse: 0.8759
[14677.219]
-----------------
13
Epoch 1/13
1995/1995 - 3s - loss: 1.1766 - mse: 1.1764 - val_loss: 0.9201 - val_mse: 0.9199
Epoch 2/13
1995/1995 - 3s - loss: 0.8942 - mse: 0.8939 - val_loss: 0.9037 - val_mse: 0.9033
Epoch 3/13
1995/1995 - 2s - loss: 0.8640 - mse: 0.8634 - val_loss: 0.8850 - val_mse: 0.8843
Epoch 4/13
1995/1995 - 3s - loss: 0.8485 - mse: 0.8476 - val_loss: 0.8833 - val_mse: 0.8823
Epoch 5/13
1995/1995 - 2s - loss: 0.8327 - mse: 0.8315 - val_loss: 0.8761 - val_mse: 0.8748
Epoch 6/13
1995/1995 - 2s - loss: 0.8158 - mse: 0.8143 - val_loss: 0.9192 - val_mse: 0.9176
Epoch 7/13
1995/1995 - 2s - loss: 0.7989 - mse: 0.7971 - val_loss: 0.8698 - val_mse: 0.8678
Epoch 8/13
1995/1995 - 2s - loss: 0.7801 - mse: 0.7780 - val_loss: 0.8805 - val_mse: 0.8782
Epoch 9/13
1995/1995 - 2s - loss: 0.7644 - mse: 0.7619 - val_loss: 0.8762 - val_mse: 0.8736
Epoch 10/13
1995/1995 - 2s - loss: 0.7488 - mse: 0.7461 - val_loss: 0.8699 - val_mse: 0.8670
Epoch 11/13
1995/1995 - 2s - loss: 0.7365 - mse: 0.7335 - val_loss: 0.8764 - val_mse: 0.8732
Epoch 12/13
1995/1995 - 2s - loss: 0.7242 - mse: 0.7209 - val_loss: 0.8843 - val_mse: 0.8809
Epoch 13/13
1995/1995 - 2s - loss: 0.7136 - mse: 0.7100 - val_loss: 0.8901 - val_mse: 0.8864
[14687.433]
-----------------
14
Epoch 1/14
1995/1995 - 3s - loss: 1.1457 - mse: 1.1456 - val_loss: 0.9317 - val_mse: 0.9315
Epoch 2/14
1995/1995 - 3s - loss: 0.8956 - mse: 0.8952 - val_loss: 0.9029 - val_mse: 0.9024
Epoch 3/14
1995/1995 - 3s - loss: 0.8682 - mse: 0.8676 - val_loss: 0.8841 - val_mse: 0.8834
Epoch 4/14
1995/1995 - 2s - loss: 0.8500 - mse: 0.8491 - val_loss: 0.8859 - val_mse: 0.8849
Epoch 5/14
1995/1995 - 2s - loss: 0.8352 - mse: 0.8340 - val_loss: 0.8771 - val_mse: 0.8757
Epoch 6/14
1995/1995 - 2s - loss: 0.8191 - mse: 0.8176 - val_loss: 0.8850 - val_mse: 0.8834
Epoch 7/14
1995/1995 - 2s - loss: 0.7995 - mse: 0.7977 - val_loss: 0.8822 - val_mse: 0.8803
Epoch 8/14
1995/1995 - 2s - loss: 0.7806 - mse: 0.7785 - val_loss: 0.8773 - val_mse: 0.8750
Epoch 9/14
1995/1995 - 2s - loss: 0.7644 - mse: 0.7620 - val_loss: 0.8822 - val_mse: 0.8797
Epoch 10/14
1995/1995 - 2s - loss: 0.7490 - mse: 0.7463 - val_loss: 0.8777 - val_mse: 0.8749
Epoch 11/14
1995/1995 - 2s - loss: 0.7359 - mse: 0.7329 - val_loss: 0.8895 - val_mse: 0.8863
Epoch 12/14
1995/1995 - 2s - loss: 0.7220 - mse: 0.7187 - val_loss: 0.8842 - val_mse: 0.8808
Epoch 13/14
1995/1995 - 2s - loss: 0.7103 - mse: 0.7068 - val_loss: 0.8914 - val_mse: 0.8877
Epoch 14/14
1995/1995 - 2s - loss: 0.7002 - mse: 0.6964 - val_loss: 0.9041 - val_mse: 0.9001
[14672.574]
-----------------
15
Epoch 1/15
1995/1995 - 3s - loss: 1.1397 - mse: 1.1395 - val_loss: 0.9175 - val_mse: 0.9173
Epoch 2/15
1995/1995 - 3s - loss: 0.8948 - mse: 0.8944 - val_loss: 0.9211 - val_mse: 0.9206
Epoch 3/15
1995/1995 - 2s - loss: 0.8674 - mse: 0.8668 - val_loss: 0.9058 - val_mse: 0.9051
Epoch 4/15
1995/1995 - 2s - loss: 0.8496 - mse: 0.8487 - val_loss: 0.8813 - val_mse: 0.8802
Epoch 5/15
1995/1995 - 2s - loss: 0.8344 - mse: 0.8332 - val_loss: 0.8803 - val_mse: 0.8790
Epoch 6/15
1995/1995 - 2s - loss: 0.8195 - mse: 0.8180 - val_loss: 0.8712 - val_mse: 0.8696
Epoch 7/15
1995/1995 - 2s - loss: 0.8041 - mse: 0.8022 - val_loss: 0.8862 - val_mse: 0.8842
Epoch 8/15
1995/1995 - 2s - loss: 0.7880 - mse: 0.7858 - val_loss: 0.8744 - val_mse: 0.8721
Epoch 9/15
1995/1995 - 2s - loss: 0.7699 - mse: 0.7675 - val_loss: 0.8819 - val_mse: 0.8793
Epoch 10/15
1995/1995 - 2s - loss: 0.7541 - mse: 0.7514 - val_loss: 0.8771 - val_mse: 0.8742
Epoch 11/15
1995/1995 - 2s - loss: 0.7379 - mse: 0.7348 - val_loss: 0.8830 - val_mse: 0.8798
Epoch 12/15
1995/1995 - 2s - loss: 0.7266 - mse: 0.7233 - val_loss: 0.8861 - val_mse: 0.8826
Epoch 13/15
1995/1995 - 2s - loss: 0.7137 - mse: 0.7101 - val_loss: 0.8911 - val_mse: 0.8873
Epoch 14/15
1995/1995 - 2s - loss: 0.7031 - mse: 0.6992 - val_loss: 0.8953 - val_mse: 0.8912
Epoch 15/15
1995/1995 - 2s - loss: 0.6928 - mse: 0.6886 - val_loss: 0.8921 - val_mse: 0.8878
[14663.731]
-----------------

In [138]:
def train_test(data,size=0.2):
    #按照用户切割
    train_index = []
    test_index = []
    random.seed(666)
    for i in range(942):
        index =list(data[data['user_id']==i].index.values) 
        random.shuffle(index)
        length = round(len(index)*(1-size))
        train_index +=index[:length]
        test_index +=index[length:]
    return data.loc[train_index],data.loc[test_index]

In [155]:
train,test = train_test(data_all,size=0.2)

In [141]:

train_model_input = {name:train[name].values for name in feature_name}
test_model_input = {name:test[name].values for name in feature_name}
model = WDL(fixlen_feature_columns,fixlen_feature_columns,task='regression')
model.compile('adam','mse',metrics=['mse'])
history = model.fit(train_model_input,train['rating'].values,epochs=50,validation_split=0.2,verbose=2)
pred_ans = model.predict(test_model_input)

Epoch 1/50
1995/1995 - 3s - loss: 1.1452 - mse: 1.1451 - val_loss: 1.0302 - val_mse: 1.0299
Epoch 2/50
1995/1995 - 2s - loss: 0.8954 - mse: 0.8951 - val_loss: 1.0173 - val_mse: 1.0169
Epoch 3/50
1995/1995 - 2s - loss: 0.8703 - mse: 0.8698 - val_loss: 1.0247 - val_mse: 1.0241
Epoch 4/50
1995/1995 - 2s - loss: 0.8534 - mse: 0.8526 - val_loss: 1.0406 - val_mse: 1.0397
Epoch 5/50
1995/1995 - 2s - loss: 0.8396 - mse: 0.8385 - val_loss: 1.0318 - val_mse: 1.0305
Epoch 6/50
1995/1995 - 2s - loss: 0.8224 - mse: 0.8211 - val_loss: 1.0800 - val_mse: 1.0785
Epoch 7/50
1995/1995 - 2s - loss: 0.8005 - mse: 0.7989 - val_loss: 1.0324 - val_mse: 1.0306
Epoch 8/50
1995/1995 - 2s - loss: 0.7805 - mse: 0.7786 - val_loss: 1.0949 - val_mse: 1.0928
Epoch 9/50
1995/1995 - 2s - loss: 0.7608 - mse: 0.7586 - val_loss: 1.0680 - val_mse: 1.0656
Epoch 10/50
1995/1995 - 2s - loss: 0.7477 - mse: 0.7452 - val_loss: 1.0592 - val_mse: 1.0566
Epoch 11/50
1995/1995 - 2s - loss: 0.7352 - mse: 0.7325 - val_loss: 1.0782 - val_mse: 1.0753
Epoch 12/50
1995/1995 - 2s - loss: 0.7246 - mse: 0.7216 - val_loss: 1.0641 - val_mse: 1.0610
Epoch 13/50
1995/1995 - 2s - loss: 0.7147 - mse: 0.7115 - val_loss: 1.1189 - val_mse: 1.1155
Epoch 14/50
1995/1995 - 2s - loss: 0.7063 - mse: 0.7028 - val_loss: 1.0821 - val_mse: 1.0785
Epoch 15/50
1995/1995 - 2s - loss: 0.6970 - mse: 0.6932 - val_loss: 1.0650 - val_mse: 1.0611
Epoch 16/50
1995/1995 - 2s - loss: 0.6890 - mse: 0.6850 - val_loss: 1.0892 - val_mse: 1.0851
Epoch 17/50
1995/1995 - 2s - loss: 0.6835 - mse: 0.6792 - val_loss: 1.0727 - val_mse: 1.0683
Epoch 18/50
1995/1995 - 2s - loss: 0.6759 - mse: 0.6714 - val_loss: 1.0774 - val_mse: 1.0728
Epoch 19/50
1995/1995 - 2s - loss: 0.6682 - mse: 0.6635 - val_loss: 1.1105 - val_mse: 1.1056
Epoch 20/50
1995/1995 - 2s - loss: 0.6625 - mse: 0.6575 - val_loss: 1.0951 - val_mse: 1.0900
Epoch 21/50
1995/1995 - 2s - loss: 0.6559 - mse: 0.6507 - val_loss: 1.1093 - val_mse: 1.1040
Epoch 22/50
1995/1995 - 2s - loss: 0.6524 - mse: 0.6470 - val_loss: 1.1370 - val_mse: 1.1314
Epoch 23/50
1995/1995 - 2s - loss: 0.6434 - mse: 0.6377 - val_loss: 1.1205 - val_mse: 1.1147
Epoch 24/50
1995/1995 - 2s - loss: 0.6392 - mse: 0.6332 - val_loss: 1.1059 - val_mse: 1.0999
Epoch 25/50
1995/1995 - 2s - loss: 0.6334 - mse: 0.6273 - val_loss: 1.1273 - val_mse: 1.1210
Epoch 26/50
1995/1995 - 2s - loss: 0.6282 - mse: 0.6218 - val_loss: 1.1230 - val_mse: 1.1166
Epoch 27/50
1995/1995 - 2s - loss: 0.6220 - mse: 0.6154 - val_loss: 1.1020 - val_mse: 1.0953
Epoch 28/50
1995/1995 - 2s - loss: 0.6176 - mse: 0.6108 - val_loss: 1.1144 - val_mse: 1.1076
Epoch 29/50
1995/1995 - 2s - loss: 0.6137 - mse: 0.6067 - val_loss: 1.1367 - val_mse: 1.1296
Epoch 30/50
1995/1995 - 2s - loss: 0.6076 - mse: 0.6005 - val_loss: 1.1186 - val_mse: 1.1114
Epoch 31/50
1995/1995 - 2s - loss: 0.6038 - mse: 0.5965 - val_loss: 1.1371 - val_mse: 1.1296
Epoch 32/50
1995/1995 - 3s - loss: 0.5986 - mse: 0.5910 - val_loss: 1.1720 - val_mse: 1.1644
Epoch 33/50
1995/1995 - 2s - loss: 0.5956 - mse: 0.5878 - val_loss: 1.1427 - val_mse: 1.1349
Epoch 34/50
1995/1995 - 2s - loss: 0.5907 - mse: 0.5828 - val_loss: 1.1927 - val_mse: 1.1847
Epoch 35/50
1995/1995 - 2s - loss: 0.5865 - mse: 0.5783 - val_loss: 1.1702 - val_mse: 1.1619
Epoch 36/50
1995/1995 - 2s - loss: 0.5821 - mse: 0.5738 - val_loss: 1.1506 - val_mse: 1.1422
Epoch 37/50
1995/1995 - 2s - loss: 0.5796 - mse: 0.5711 - val_loss: 1.1514 - val_mse: 1.1428
Epoch 38/50
1995/1995 - 2s - loss: 0.5741 - mse: 0.5655 - val_loss: 1.1754 - val_mse: 1.1666
Epoch 39/50
1995/1995 - 2s - loss: 0.5699 - mse: 0.5611 - val_loss: 1.1808 - val_mse: 1.1719
Epoch 40/50
1995/1995 - 2s - loss: 0.5679 - mse: 0.5589 - val_loss: 1.1715 - val_mse: 1.1624
Epoch 41/50
1995/1995 - 2s - loss: 0.5634 - mse: 0.5542 - val_loss: 1.1997 - val_mse: 1.1905
Epoch 42/50
1995/1995 - 2s - loss: 0.5603 - mse: 0.5510 - val_loss: 1.1940 - val_mse: 1.1846
Epoch 43/50
1995/1995 - 2s - loss: 0.5568 - mse: 0.5474 - val_loss: 1.1777 - val_mse: 1.1681
Epoch 44/50
1995/1995 - 3s - loss: 0.5540 - mse: 0.5444 - val_loss: 1.1943 - val_mse: 1.1846
Epoch 45/50
1995/1995 - 3s - loss: 0.5502 - mse: 0.5404 - val_loss: 1.2307 - val_mse: 1.2208
Epoch 46/50
1995/1995 - 3s - loss: 0.5481 - mse: 0.5381 - val_loss: 1.1984 - val_mse: 1.1883
Epoch 47/50
1995/1995 - 2s - loss: 0.5451 - mse: 0.5350 - val_loss: 1.1874 - val_mse: 1.1773
Epoch 48/50
1995/1995 - 2s - loss: 0.5411 - mse: 0.5308 - val_loss: 1.2385 - val_mse: 1.2282
Epoch 49/50
1995/1995 - 2s - loss: 0.5396 - mse: 0.5292 - val_loss: 1.1911 - val_mse: 1.1806
Epoch 50/50
1995/1995 - 2s - loss: 0.5360 - mse: 0.5255 - val_loss: 1.1880 - val_mse: 1.1774

In [157]:
for i in range(1,10):
    print(i)
    train_model_input = {name:train[name].values for name in feature_name}
    test_model_input = {name:test[name].values for name in feature_name}
    model = WDL(fixlen_feature_columns,fixlen_feature_columns,task='regression')
    model.compile('adam','mse',metrics=['mse'])
    history = model.fit(train_model_input,train['rating'].values,epochs=i,validation_split=0.2,verbose=2)
    pred_ans = model.predict(test_model_input)
    rating_devition = 0 
    for pred,real in zip(pred_ans,test['rating'].values):
        rating_devition += abs(pred - real)
    print(rating_devition)
    print('-----------------')

1
1995/1995 - 3s - loss: 1.1636 - mse: 1.1635 - val_loss: 1.0450 - val_mse: 1.0448
[15389.212]
-----------------
2
Epoch 1/2
1995/1995 - 3s - loss: 1.1543 - mse: 1.1542 - val_loss: 1.0199 - val_mse: 1.0197
Epoch 2/2
1995/1995 - 2s - loss: 0.9031 - mse: 0.9028 - val_loss: 1.0426 - val_mse: 1.0422
[15491.081]
-----------------
3
Epoch 1/3
1995/1995 - 3s - loss: 1.1484 - mse: 1.1483 - val_loss: 1.0255 - val_mse: 1.0253
Epoch 2/3
1995/1995 - 3s - loss: 0.9055 - mse: 0.9051 - val_loss: 1.0032 - val_mse: 1.0028
Epoch 3/3
1995/1995 - 2s - loss: 0.8798 - mse: 0.8792 - val_loss: 1.0197 - val_mse: 1.0190
[14874.8545]
-----------------
4
Epoch 1/4
1995/1995 - 3s - loss: 1.1423 - mse: 1.1422 - val_loss: 1.0354 - val_mse: 1.0352
Epoch 2/4
1995/1995 - 2s - loss: 0.9052 - mse: 0.9049 - val_loss: 1.0199 - val_mse: 1.0195
Epoch 3/4
1995/1995 - 2s - loss: 0.8787 - mse: 0.8782 - val_loss: 1.0283 - val_mse: 1.0276
Epoch 4/4
1995/1995 - 2s - loss: 0.8613 - mse: 0.8605 - val_loss: 1.0460 - val_mse: 1.0450
[15246.99]
-----------------
5
Epoch 1/5
1995/1995 - 3s - loss: 1.1604 - mse: 1.1603 - val_loss: 1.0252 - val_mse: 1.0250
Epoch 2/5
1995/1995 - 2s - loss: 0.9011 - mse: 0.9008 - val_loss: 1.0485 - val_mse: 1.0480
Epoch 3/5
1995/1995 - 2s - loss: 0.8739 - mse: 0.8734 - val_loss: 1.0375 - val_mse: 1.0369
Epoch 4/5
1995/1995 - 2s - loss: 0.8551 - mse: 0.8543 - val_loss: 1.0267 - val_mse: 1.0258
Epoch 5/5
1995/1995 - 2s - loss: 0.8415 - mse: 0.8404 - val_loss: 1.0599 - val_mse: 1.0587
[15246.45]
-----------------
6
Epoch 1/6
1995/1995 - 3s - loss: 1.1464 - mse: 1.1463 - val_loss: 1.0566 - val_mse: 1.0564
Epoch 2/6
1995/1995 - 2s - loss: 0.9017 - mse: 0.9013 - val_loss: 1.0119 - val_mse: 1.0115
Epoch 3/6
1995/1995 - 2s - loss: 0.8706 - mse: 0.8700 - val_loss: 1.0089 - val_mse: 1.0082
Epoch 4/6
1995/1995 - 2s - loss: 0.8552 - mse: 0.8544 - val_loss: 1.0192 - val_mse: 1.0182
Epoch 5/6
1995/1995 - 2s - loss: 0.8423 - mse: 0.8413 - val_loss: 1.0255 - val_mse: 1.0243
Epoch 6/6
1995/1995 - 2s - loss: 0.8282 - mse: 0.8268 - val_loss: 1.0563 - val_mse: 1.0548
[15183.072]
-----------------
7
Epoch 1/7
1995/1995 - 3s - loss: 1.1551 - mse: 1.1550 - val_loss: 1.0385 - val_mse: 1.0383
Epoch 2/7
1995/1995 - 3s - loss: 0.8967 - mse: 0.8964 - val_loss: 1.0151 - val_mse: 1.0146
Epoch 3/7
1995/1995 - 3s - loss: 0.8708 - mse: 0.8702 - val_loss: 1.0580 - val_mse: 1.0573
Epoch 4/7
1995/1995 - 2s - loss: 0.8540 - mse: 0.8532 - val_loss: 1.0225 - val_mse: 1.0216
Epoch 5/7
1995/1995 - 3s - loss: 0.8365 - mse: 0.8354 - val_loss: 1.0380 - val_mse: 1.0368
Epoch 6/7
1995/1995 - 3s - loss: 0.8160 - mse: 0.8146 - val_loss: 1.0315 - val_mse: 1.0300
Epoch 7/7
1995/1995 - 3s - loss: 0.7997 - mse: 0.7981 - val_loss: 1.0526 - val_mse: 1.0508
[14899.31]
-----------------
8
Epoch 1/8
1995/1995 - 3s - loss: 1.1362 - mse: 1.1361 - val_loss: 1.0318 - val_mse: 1.0316
Epoch 2/8
1995/1995 - 3s - loss: 0.8978 - mse: 0.8974 - val_loss: 1.0343 - val_mse: 1.0339
Epoch 3/8
1995/1995 - 3s - loss: 0.8709 - mse: 0.8703 - val_loss: 1.0186 - val_mse: 1.0179
Epoch 4/8
1995/1995 - 3s - loss: 0.8580 - mse: 0.8572 - val_loss: 1.0448 - val_mse: 1.0438
Epoch 5/8
1995/1995 - 3s - loss: 0.8453 - mse: 0.8443 - val_loss: 1.0408 - val_mse: 1.0396
Epoch 6/8
1995/1995 - 3s - loss: 0.8324 - mse: 0.8310 - val_loss: 1.0782 - val_mse: 1.0767
Epoch 7/8
1995/1995 - 3s - loss: 0.8213 - mse: 0.8196 - val_loss: 1.0511 - val_mse: 1.0493
Epoch 8/8
1995/1995 - 3s - loss: 0.8048 - mse: 0.8028 - val_loss: 1.0390 - val_mse: 1.0370
[14833.295]
-----------------
9
Epoch 1/9
1995/1995 - 3s - loss: 1.1481 - mse: 1.1479 - val_loss: 1.0219 - val_mse: 1.0217
Epoch 2/9
1995/1995 - 2s - loss: 0.9030 - mse: 0.9027 - val_loss: 1.0133 - val_mse: 1.0129
Epoch 3/9
1995/1995 - 2s - loss: 0.8780 - mse: 0.8774 - val_loss: 1.0172 - val_mse: 1.0166
Epoch 4/9
1995/1995 - 2s - loss: 0.8574 - mse: 0.8566 - val_loss: 1.0092 - val_mse: 1.0083
Epoch 5/9
1995/1995 - 2s - loss: 0.8442 - mse: 0.8431 - val_loss: 1.0523 - val_mse: 1.0511
Epoch 6/9
1995/1995 - 2s - loss: 0.8303 - mse: 0.8290 - val_loss: 1.0165 - val_mse: 1.0150
Epoch 7/9
1995/1995 - 3s - loss: 0.8149 - mse: 0.8132 - val_loss: 1.0356 - val_mse: 1.0339
Epoch 8/9
1995/1995 - 3s - loss: 0.7996 - mse: 0.7977 - val_loss: 1.0592 - val_mse: 1.0571
Epoch 9/9
1995/1995 - 3s - loss: 0.7824 - mse: 0.7801 - val_loss: 1.0341 - val_mse: 1.0317
[14819.485]
-----------------

In [98]:
a =[]

[1, 2, 2, 3, 2]

In [119]:
a += list(range(50))
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [108]:
a

[1, 2, 3]